@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Import professional fonts from Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap'); */

:root {
  --color-primary: #395975;
  --color-secondary: #decfaa;
  --color-accent: #AECDE2;
  
  --font-heading: 'Merriweather', 'Source Serif Pro', serif;
  --font-body: 'Source Serif Pro', 'Merriweather', serif;
}

.dark {
  --color-primary: #4a6fa5;
  --color-secondary: #f0d6a2;
  --color-accent: #c1d9ee;
  --color-background: #111827;
  --color-text: #f3f4f6;
 
}

body {
  font-family: var(--font-body, serif);
  color: var(--color-text);
  background: var(--color-background);
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading, serif);
  text-align: left;
}

* {
  box-sizing: border-box;
}







  
  
  

  
    

