---
import "../styles/global.css";
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

---
<html lang="en">
	<Layout>
		<HeroSection />
		<main class="flex-grow p-8">
			<h1 class="text-3xl font-bold mb-6 text-center">Get In Touch</h1>
		</main>
	</Layout>
</html>
